
body {
    font-family:Avenir;
    background-image:url("https://cdn.shutterstock.com/shutterstock/videos/16982245/thumb/1.jpg");
    background-size: 1400px 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
