body {
    font-family:Avenir;
    background-image:url("https://upload.wikimedia.org/wikipedia/en/d/d4/Marshland_on_Kent_Island.jpg");
    background-size: 1400px 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
