body {
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/5b/53/32/5b533208d7a3de1262963a4a9ff1be1d.jpg");
    font-family:Avenir;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}
