body {
    background-image:url("https://www.3dartistonline.com/users/2989/thm1024/nippyenv03.jpg");
    font-family:Avenir;
    background-size: 1400px 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}