body {
    background-image:url("http://cdn.c.photoshelter.com/img-get2/I0000yLAry2TgRHo/fit=1000x750/Golden-field-and-trees-081123-3.jpg");
    font-family:Avenir;
    background-size: 1500px 1300px;
    background-attachment: fixed;
}
