body {
    background-image:url("https://previews.123rf.com/images/pilens/pilens1312/pilens131200002/24395096-Freshly-fallen-fall-autumn-snow-covering-ground-with-smooth-round-shapes-of-cobble-stone-and-gravel--Stock-Photo.jpg");
    font-family:Avenir;
    background-size: 1400px 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
